<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ECR FISH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fresh Fishes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-col size=2>
      <ion-row>
        <ion-slides autoplay="5000" loop="true" speed="800" [options]="slideOpts">
          <ion-slide>
            <img src="../../assets/images/slider/fish3.jpeg">
          </ion-slide>
          <ion-slide>
            <img src="../../assets/images/slider/fish4.jpeg">
          </ion-slide>
          <ion-slide>
            <img src="../../assets/images/slider/fish5.jpeg">
          </ion-slide>
          <ion-slide>
            <img src="../../assets/images/slider/fish6.jpeg">
          </ion-slide>
          <ion-slide>
            <img src="../../assets/images/slider/fish7.jpeg">
          </ion-slide>
        </ion-slides>
      </ion-row>

    </ion-col>
   
  </ion-grid>
  

</ion-content>
