<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-item>
      <ion-label position="floating">Product</ion-label>
      <ion-input placeholder="product name" [(ngModel)]="ProductName" required></ion-input>
    </ion-item>

    <ion-button (click)="saveProduct()" expand="full" shape="round">Save</ion-button>

  <ul>
    <li *ngFor="let product of products$ | async">
      {{ product.ProductName }}
    </li>
  </ul>
</ion-content>
